Package Control.cache/
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
Package Control.last-run

__pycache__
*.sublime-workspace
.SublimeREPLHistory
todo.md
Projects/
*.log
TabsExtra/version.json
